/* For the benefit of others */
/* Para el beneficio de los demás */
/* Per il bene degli altri */
/* Pour le bien des autres */

* {
  margin: 0;
  user-select: none;
  scroll-padding-top: 97px;
  resize: none;
  color: #dbdbdb;
  font-size: 18px;
  text-decoration: none;
  font-family: "times new roman", sans-serif;
}

.marginless {
  margin-top: -49px;
}

.center {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.list-height {
  line-height: 1.5;
}

.title {
  font-size: 22px;
}

.subtitle {
  font-size: 19px;
}

.red {
  color: #ff0000;
}

.back {
  font-size: 17px;
}

.menu {
  font-size: 19px;
  color: #dbdbdb;
}

.pagestart {
  padding-top: 75px;
  max-width: 100%;
  font-size: 18px;
  font-family: "times new roman", sans-serif;
  color: #dbdbdb;
  font-weight: 100;
  margin-left: 27.1%;
  margin-right: 27.1%;
}

.leveler {
  margin-top: 53px;
}


.short_story {
  max-width: 100%;
  margin-left: 27.1%;
  margin-right: 27.1%;
  text-align: justify;
}

/* Bodies (I'm not an animal): white, black */

.white {
  background-color: #dbdbdb;
}

.black {
  background-color: #000000;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  margin-bottom: 16px;
}

img {
  margin-left: 16px;
  display: block;
  max-width: 100%;
}

cover {
}

/* Bars: white, black */

.top {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #000000;
  display: flex;
  position: fixed;
  width: 48%;
  margin-left: 26%;
  margin-right: 26%;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.pot {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  position: fixed;
  width: 48%;
  margin-left: 26%;
  margin-right: 26%;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.block {
  position: absolute;
  margin-top: 11px;
  display: flex;
  text-indent: 17px;
  right: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 600px) {
  .short_story {
    margin-left: 4%;
    margin-right: 4%;
  }

  .pagestart {
    margin-left: 4%;
    margin-right: 4%;
  }

  .top {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .pot {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  hr {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}

.ind ul {
  display: inline-block;
  text-align: left;
}

ul {
  list-style-type: none;
  /* This removes the default bullet points */
}

hr {
  background-color: #dbdbdb;
  height: 1px;
  border: none;
  margin-left: 26%;
  margin-right: 26%;
}

.hrup {
  background-color: #dbdbdb;
  margin-bottom: 12px;
}

.hrdo {
  background-color: #dbdbdb;
  margin-top: 12px;
}

.half {
  width: 50%;
}

.rounder {
  border: 1px solid #000;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-left: 3.2%;
  margin-right: 3.2%;
}

/* Send */

.form-container {
  display: block;
  flex-wrap: wrap;
  margin: 23px auto;
  width: 305px;
  justify-content: center;
}

.tisti3 {
  display: block;
  margin-top: 11px;
  height: 51px;
  font-family: "times new roman", serif;
  font-size: 15px;
  width: 100%;
  max-width: calc(100% - 10px);
  border: 1px solid grey;
  padding-left: 4px;
  padding-right: 4px;
}

.submit-btn {
  font-family: "times new roman", serif;
  color: #dbdbdb;
  font-size: 14px;
  height: 24px;
  max-width: 100%;
  width: 100%;
  background-color: red;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-left: 4px;
  padding-right: 4px;
}

.unscroll {
  overflow: hidden;
}

.cover {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #505050;
}

/* Cracky is gone https: //cracky-chan.com/ */
