* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}

body {
    padding: 8px;
    font-family: serif;
    font-size: 17px;
    color: #dbdbdb;
}

.sedici {
    font-size: 15px;
}

body > *,
body > * > *,
main figure > *,
main figure > div > *,
main p {
    margin-bottom: 30px;
}


header {
    float: left;
    margin: 5px 30px 0 0;
    min-height: 90px;
}

nav {
    margin: 0 0 30px;
}

nav ul {
    padding: 0;
    margin: 0 45px 30px 0;
    float: left;
}

nav ul li {
    list-style-type: none;
    white-space: pre;
}

nav ul li a {
    padding: 0px 4px;
}

main {
    max-width: 624px;
    clear: both;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #dbdbdb;
    }
    body {
        background: black;
    }
    body a:hover,
    main a:hover > * {
        background-color: #dbdbdb;
        color: #000;
        text-decoration: none;
    }
    }
    main pre {
        background: #111;
    }
    main table {
        border-style: solid;
    }
    main th,
    main td {
        border-style: dotted;
    }
    .nodark {
        filter: invert(0) hue-rotate(0deg) !important;
        background: transparent !important;
    }
}
