* {
  text-decoration: none;
}

hr {
  height: 1px;
  border: none;
}

a:hover {
  background-color: #aaa191;
  color: #000;
}

b {
  font-size: 17px;
  font-family: arial;
}

.log {
  font-size: 17px;
  white-space: pre-wrap;
}

.gold {
  color: #aaa191;
}

.no_hr > *:not(hr) {
  max-width: 48%;
  margin-left: 0 auto;
}

@media only screen and (max-width: 600px) {
  .log {
    font-size: 18px;
  }
  .no_hr > *:not(hr) {
    max-width: 100%;
  }
}