* {
  text-decoration: none;
}

code {
  font-size: 15px;
}

.back:hover {
  background-color: #aaa191;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text {
  font-size: 17px;
  white-space: pre-wrap;
  margin-top: -27px;
}

.gold {
  color: #aaa191;
}

body > *:not(hr) {
  max-width: 48%;
  margin-left: 0 auto;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 18px;
  }
  body > *:not(hr) {
    max-width: 100%;
  }
}